.website_design > h1 {
  padding: 0 0 1rem;

  font-weight: 700;
}

.website_design > h2 {
  padding: 1rem 0;
}

.website_design > p {
  padding: 1rem 0;
}

.website_design > h2::after {
  content: " ";
  display: block;
  position: relative;
  width: 50%;
  height: 2px;
  top: 10px;

  background-color: var(--gunmetal);
}
